@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.navbar{
    padding: 10px 0;
}
.navbar-item img{
    max-height: auto !important;
}
.logo{
    width: 100%;
}
hr{
    margin: 0;
}
.hero{
    padding: 100px 0;
}
.hero-img{
    text-align: right;
}
.hero-img img{
    width: 500px;
}
.hero-content{
    display: flex;
    align-items: center;
}
.name{
    color: #74b0ff;
}
.hero-heading{
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
}
.hero-title{
    margin: 20px 0;
    font-size: 20px;
    line-height: 32px;
}
.section-title{
    display: flex;
    align-items: center;
}
.about-section{
    padding: 100px 0;
    background-color: #fbfbfb;
    font-size: 18px;
    line-height: 32px;
}
.about-section .box{
    padding: 30px;
}
.tag{
    margin-bottom: 20px;
}
.about-project{
    padding: 100px 0;
}
.about-project-heading{
    font-size: 24px;
}
.project-link{
    margin-top: 20px;
}
.project-link a{
    font-size: 18px;
    font-weight: 500;
}
.project-link i{
    margin-left: 10px;
    font-size: 16px;
}
.card-section{
    margin-top: 60px;
}
.about-project .card{
    padding: 20px;
}
.card-header-top{
    text-align: center;
    margin-bottom: 20px;
}
.card-header-top i{
    font-size: 40px;
}
.card-header-top .fa-drafting-compass{
    color: #7143ff;
}
.card-header-top .fa-window-restore{
    color: #ed3daf;
}
.card-header-top .fa-wordpress-simple{
    color: #efc63e;
}
.about-project .card .card-content .title{
    font-size: 20px;
    text-align: center;
}
.about-project .card .card-content p{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.about-project .card .card-content .read-more-btn{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.wordpress-theme,.blog{
    padding: 100px 0;
    background-color: #fbfbfb;
}
.wordpress-plugin{
    padding: 100px 0;
}
.wordpress-theme-heading,.wordpress-plugin-heading,.blog-heading{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.wordpress-theme-sub-text,.wordpress-plugin-sub-text,.blog-sub-text{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.wordpress-theme-card,.wordpress-plugin-card,.blog-card{
    margin-top: 50px;
}
.theme-name,.plugin-name{
    font-size: 24px;
    font-weight: 500;
}
.footer-main{
    background-color: #74b0ff;
}
.footer-text{
    color: #fff;
    padding: 30px 0;
}
.contact-section{
    padding: 180px 0;
}
.info{
    font-size: 32px;
    font-weight: 600;
}
.contact-box,.contact-info{
    padding: 30px;
}
.info-icon{
    font-size: 24px;
    margin-right: 15px; 

}
.email-account{
    margin-top: 20px;
    font-size: 20px;
}
.social-account{
    margin-top: 30px;
}
.social-account a i{
    font-size: 30px;
    margin-right: 25px;
}
.fa-facebook-square{
    color: #1773ea;
}
.fa-instagram{
    color: #a11774;
}
.fa-linkedin{
    color: #0c61bf;
}
.fa-twitter{
    color: #1c9ceb;
}
.fa-github{
    color: #000;
}
.fa-gitlab{
    color: #f46a25;
}
.form-status{
    margin-top: 10px;
}